@import url('https://fonts.googleapis.com/css2?family=Montserrat&amp;display=swap');

:root {
	/*
	--background: #191919;
	--outline: #2c82d9;
	*/
	--background: #000000;
}

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body {
	background-color: var(--background);
    color: white;
	font-family: 'Montserrat', sans-serif;
	/*
    font-family: 'Tahoma', 'sans-serif';
	*/
}